<div class="container">
  <div class="header">
    <label>
      <input type="text" [(ngModel)]="cardsService.loading ? 'Загрузка..' : title" placeholder="Введите тег.." (focus)="title = ''"/>
    </label>
    <button [disabled]="cardsService.loading || groupBtn !== 'Группировать'" (click)="loadCard()">Загрузить</button>
    <button (click)="deleteAll()">Очистить</button>
    <button (click)="groupByTag()">{{ groupBtn }}</button>
  </div>
  <app-card (changeTitle)="changeTitle($event)" *ngIf="groupBtn === 'Группировать'"></app-card>
  <app-grouped-cards *ngIf="groupBtn === 'Разруппировать'"></app-grouped-cards>
  <app-modal></app-modal>
</div>

